PrihvatSirovihPodataka.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://webservis.skz.dhz/" name="PrihvatSirovihPodataka" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://webservis.skz.dhz/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservis.skz.dhz/" schemaLocation="PrihvatSirovihPodataka_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="PrihvatSirovihPodataka_schema2.xsd"/>
    </xsd:schema>
  </types>
  <message name="getVrijemeZadnjeg">
    <part name="parameters" element="tns:getVrijemeZadnjeg"/>
  </message>
  <message name="getVrijemeZadnjegResponse">
    <part name="parameters" element="tns:getVrijemeZadnjegResponse"/>
  </message>
  <message name="prebaciOmotnicu">
    <part name="parameters" element="tns:prebaciOmotnicu"/>
  </message>
  <message name="prebaciOmotnicuResponse">
    <part name="parameters" element="tns:prebaciOmotnicuResponse"/>
  </message>
  <message name="CsvPrihvatException">
    <part name="fault" element="tns:CsvPrihvatException"/>
  </message>
  <portType name="PrihvatSirovihPodataka">
    <operation name="getVrijemeZadnjeg">
      <input wsam:Action="http://webservis.skz.dhz/PrihvatSirovihPodataka/getVrijemeZadnjegRequest" message="tns:getVrijemeZadnjeg"/>
      <output wsam:Action="http://webservis.skz.dhz/PrihvatSirovihPodataka/getVrijemeZadnjegResponse" message="tns:getVrijemeZadnjegResponse"/>
    </operation>
    <operation name="prebaciOmotnicu">
      <input wsam:Action="http://webservis.skz.dhz/PrihvatSirovihPodataka/prebaciOmotnicuRequest" message="tns:prebaciOmotnicu"/>
      <output wsam:Action="http://webservis.skz.dhz/PrihvatSirovihPodataka/prebaciOmotnicuResponse" message="tns:prebaciOmotnicuResponse"/>
      <fault message="tns:CsvPrihvatException" name="CsvPrihvatException" wsam:Action="http://webservis.skz.dhz/PrihvatSirovihPodataka/prebaciOmotnicu/Fault/CsvPrihvatException"/>
    </operation>
  </portType>
  <binding name="PrihvatSirovihPodatakaPortBinding" type="tns:PrihvatSirovihPodataka">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getVrijemeZadnjeg">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="prebaciOmotnicu">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="CsvPrihvatException">
        <soap:fault name="CsvPrihvatException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="PrihvatSirovihPodataka">
    <port name="PrihvatSirovihPodatakaPort" binding="tns:PrihvatSirovihPodatakaPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

