src/META-INF/wsdl/localhost_9090/PrihvatSirovihPodataka/PrihvatSirovihPodataka.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservis.skz.dhz/" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservis.skz.dhz/">

<xs:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:9090/PrihvatSirovihPodataka/PrihvatSirovihPodataka?xsd=2"/>

<xs:element name="CsvPrihvatException" type="tns:CsvPrihvatException"/>

<xs:element name="getUnixTimeZadnjeg" type="tns:getUnixTimeZadnjeg"/>

<xs:element name="getUnixTimeZadnjegResponse" type="tns:getUnixTimeZadnjegResponse"/>

<xs:element name="prebaciOmotnicu" type="tns:prebaciOmotnicu"/>

<xs:element name="prebaciOmotnicuResponse" type="tns:prebaciOmotnicuResponse"/>

<xs:complexType name="prebaciOmotnicu">
<xs:sequence>
<xs:element name="omotnica" type="tns:csvOmotnica" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="csvOmotnica">
<xs:sequence>
<xs:element name="datoteka" type="xs:string" minOccurs="0"/>
<xs:element name="headeri" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="izvor" type="xs:string" minOccurs="0"/>
<xs:element name="linije" type="ns1:stringArray" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="postaja" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="prebaciOmotnicuResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="CsvPrihvatException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUnixTimeZadnjeg">
<xs:sequence>
<xs:element name="izvor" type="xs:string" minOccurs="0"/>
<xs:element name="postaja" type="xs:string" minOccurs="0"/>
<xs:element name="datoteka" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUnixTimeZadnjegResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>