src/META-INF/PrihvatPodataka.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservis.skz.dhz/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservis.skz.dhz/" name="PrihvatPodataka" xmlns:sc="http://schemas.sun.com/2006/03/wss/client" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy">
<types>
<xsd:schema>
<xsd:import namespace="http://webservis.skz.dhz/" schemaLocation="http://localhost:9090/PrihvatPodataka/PrihvatPodataka?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:9090/PrihvatPodataka/PrihvatPodataka?xsd=2"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="testWS">
<part name="parameters" element="tns:testWS"/>
</message>
<message name="testWSResponse">
<part name="parameters" element="tns:testWSResponse"/>
</message>
<message name="CsvPrihvatException">
<part name="fault" element="tns:CsvPrihvatException"/>
</message>
<message name="prebaciOmotnicu">
<part name="parameters" element="tns:prebaciOmotnicu"/>
</message>
<message name="prebaciOmotnicuResponse">
<part name="parameters" element="tns:prebaciOmotnicuResponse"/>
</message>
<message name="getUnixTimeZadnjeg">
<part name="parameters" element="tns:getUnixTimeZadnjeg"/>
</message>
<message name="getUnixTimeZadnjegResponse">
<part name="parameters" element="tns:getUnixTimeZadnjegResponse"/>
</message>
<portType name="PrihvatPodataka">
<operation name="hello">
<input wsam:Action="http://webservis.skz.dhz/PrihvatPodataka/helloRequest" message="tns:hello"/>
<output wsam:Action="http://webservis.skz.dhz/PrihvatPodataka/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="testWS">
<input wsam:Action="http://webservis.skz.dhz/PrihvatPodataka/testWSRequest" message="tns:testWS"/>
<output wsam:Action="http://webservis.skz.dhz/PrihvatPodataka/testWSResponse" message="tns:testWSResponse"/>
<fault message="tns:CsvPrihvatException" name="CsvPrihvatException" wsam:Action="http://webservis.skz.dhz/PrihvatPodataka/testWS/Fault/CsvPrihvatException"/>
</operation>
<operation name="prebaciOmotnicu">
<input wsam:Action="http://webservis.skz.dhz/PrihvatPodataka/prebaciOmotnicuRequest" message="tns:prebaciOmotnicu"/>
<output wsam:Action="http://webservis.skz.dhz/PrihvatPodataka/prebaciOmotnicuResponse" message="tns:prebaciOmotnicuResponse"/>
<fault message="tns:CsvPrihvatException" name="CsvPrihvatException" wsam:Action="http://webservis.skz.dhz/PrihvatPodataka/prebaciOmotnicu/Fault/CsvPrihvatException"/>
</operation>
<operation name="getUnixTimeZadnjeg">
<input wsam:Action="http://webservis.skz.dhz/PrihvatPodataka/getUnixTimeZadnjegRequest" message="tns:getUnixTimeZadnjeg"/>
<output wsam:Action="http://webservis.skz.dhz/PrihvatPodataka/getUnixTimeZadnjegResponse" message="tns:getUnixTimeZadnjegResponse"/>
</operation>
</portType>
<binding name="PrihvatPodatakaPortBinding" type="tns:PrihvatPodataka">
    <wsp:PolicyReference URI="#PrihvatPodatakaPortBindingPolicy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="testWS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CsvPrihvatException">
<soap:fault name="CsvPrihvatException" use="literal"/>
</fault>
</operation>
<operation name="prebaciOmotnicu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CsvPrihvatException">
<soap:fault name="CsvPrihvatException" use="literal"/>
</fault>
</operation>
<operation name="getUnixTimeZadnjeg">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PrihvatPodataka">
<port name="PrihvatPodatakaPort" binding="tns:PrihvatPodatakaPortBinding">
<soap:address location="http://localhost:9090/PrihvatPodataka/PrihvatPodataka"/>
</port>
</service>
    <wsp:Policy wsu:Id="PrihvatPodatakaPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sc:KeyStore wspp:visibility="private" type="JKS" storepass="changeit" alias="xws-security-client" location="/home/kraljevic/razvoj/NetBeansProjects/KlijentNaPostaji/keystore.jks"/>
                <sc:TrustStore wspp:visibility="private" type="JKS" storepass="changeit" peeralias="xws-security-server" location="/home/kraljevic/opt/glassfish4/glassfish/domains/likz/config/cacerts.jks"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>